<section class="container back">
  <header>
    <h1>Get to know Our Team</h1>
    <p>We proudly present our Maintenance Team. If you have a problem with your
      bike, we are pretty sure that we can find a solution to it.
    </p><br>
  </header>
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-4 intro">
        <h3>Bike Specialist Fred</h3>
        <h1><i class="fas fa-screwdriver"></i></h1>
        <p>Hammock church-key quinoa, semiotics irony vegan vaporware cornhole
          offal shaman craft beer twee intelligentsia roof party. Vaporware hammock
          echo park bushwick ethical tbh. Raw denim hell of glossier selvage meggings
          migas keytar. Shoreditch letterpress forage cloud bread deep v, paleo
          literally la croix tousled tote bag raclette. Succulents vape
          dreamcatcher, shabby chic helvetica occupy kogi you probably haven't
          heard of them sriracha jianbing cold-pressed butcher. Tumblr flannel
          woke VHS letterpress 8-bit actually. Small batch edison bulb prism
          quinoa 8-bit venmo, selvage air plant.
        </p>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-4 intro">
        <h3>Bike Specialist Zadie</h3>
        <h1><i class="fas fa-toolbox"></i></h1>
        <p>Hammock church-key quinoa, semiotics irony vegan vaporware cornhole
          offal shaman craft beer twee intelligentsia roof party. Vaporware hammock
          echo park bushwick ethical tbh. Raw denim hell of glossier selvage meggings
          migas keytar. Shoreditch letterpress forage cloud bread deep v, paleo
          literally la croix tousled tote bag raclette. Succulents vape
          dreamcatcher, shabby chic helvetica occupy kogi you probably haven't
          heard of them sriracha jianbing cold-pressed butcher. Tumblr flannel
          woke VHS letterpress 8-bit actually. Small batch edison bulb prism
          quinoa 8-bit venmo, selvage air plant.
        </p>
      </div>
      <div class="col-sm-12 col-md col-lg-4 intro">
        <h3>Bike Specialist Sue</h3>
        <h1><i class="fas fa-wrench"></i></h1>
        <p>Hammock church-key quinoa, semiotics irony vegan vaporware cornhole
          offal shaman craft beer twee intelligentsia roof party. Vaporware hammock
          echo park bushwick ethical tbh. Raw denim hell of glossier selvage meggings
          migas keytar. Shoreditch letterpress forage cloud bread deep v, paleo
          literally la croix tousled tote bag raclette. Succulents vape
          dreamcatcher, shabby chic helvetica occupy kogi you probably haven't
          heard of them sriracha jianbing cold-pressed butcher. Tumblr flannel
          woke VHS letterpress 8-bit actually. Small batch edison bulb prism
          quinoa 8-bit venmo, selvage air plant.
        </p>
      </div>
    </div><!-- /row-->
    <img><%= image_tag("workshop.jpg", class: "img-responsive container", width: "600px") %>

</section>
