<section class="container back">
    <h1>About BikeBerlin</h1>
  <p>We love bikes. We love Berlin. We are BikeBerlin.<br>
    We sell extraordinary bikes online and you can find some rare pieces in our
    online shop. Apart from that we have a creative and hard-working maintenance
    team that will transform your bike into THE it-piece if you feel that's all you need.</br>
    BikeBerlin is an established spot in the heart of Germany and is exporting
    bikes to more than 20 european countries and the US. <br>
    But that's not all. Even a short visit of our workshop is worth it. We are
    currently expanding our company to have a bike stadium with a parcours to test
    our products and our clycling abilities. It's a fun place you'd want to see!
   </p>
</section>

<%= render 'simple_pages/team' %>
