<header class="container">
  <h1>About BikeBerlin</h1>
</header>
<section class="container">
  <p>You need to get from A to B and don't want to get stuck inbetween tons of people in a tram?
    We can help you with that then! Bike Berlin offers both bike rentals and sale. When you buy
    a car you want to try it before buying - we think that should be the same for bikes as well.</p>
    <img><%= image_tag("bikeab.jpg", class: "img-responsive container", width: "600px") %>

</section>
