<header class="container">
  <h1>Contact us</h1>
</header>
<section class="container">
  <p>We are happy to help if you have any further questions.<br>
    You can reach out to us via E-Mail: info@bikeberlin.com</p>
</section>
