
<section class="container contact">
  <header>
    <h1>Contact us</h1>
  </header>
  <p id="contactdetails">We are happy to help if you have any further questions.<br><br>
    You can reach out to us via E-Mail:<br> <i class="fab fa-mailchimp"></i> info@bikeberlin.com<br><br>
    Call us:<br> <i class="fas fa-phone-square"><br></i> 030 12345 234<br><br>
    We are all into getting to know what exactally you are looking for <br>- so come along:<br>
    <i class="fas fa-broadcast-tower"></i> Alexanderplatz 44, 444444 Berlin</p>
</section>
