
<section class="container back">
  <header>
    <h1>Contact us</h1>
  </header>
  <p>We are happy to help if you have any further questions.</p>

  <%= render 'simple_pages/contact-form' %>

  <p>Our your can call us:<br> <i class="fas fa-phone-square"><br></i> 030 12345 234<br><br>
    We are all into getting to know what exactally you are looking for <br>- so come along:<br>
    <i class="fas fa-broadcast-tower"></i> Alexanderplatz 44, 444444 Berlin
  </p>
</section>
