<section class="container back">
<header>
  <h1>Welcome to BikeBerlin</h1>
  <h2>Your source for used bikes in Berlin</h2>
</header>
  <p>Happy to meet you here, we have the perfect bike for you! Biking is
    not just about reaching the place where you want to go faster, it's also about
    doing something for the environment and your personal fitness. Only good things
    can come from biking more often.</p>
  <img><%= image_tag("bikelane.jpg", class: "img-responsive container", width: "600px") %>
</section>
