<header class="container">
  <h1>Welcome to Bike Berlin</h1>
  <h2>Your source for used bikes in Berlin</h2>
</header>
<section class="container">
  <p>Happy to meet you here, we're gonna have the perfect bike for you!</p>
</section>
<img><%= image_tag("bikeberlin.jpg", class: "img-responsive container", width: "600px") %>
