<section class="container back">
  <header>
  <h1>Get to Know Our Newcomers</h1>
  </header>
  <p>Walking is to slow for you, we can change that! We set up an impressive collection
    of our bikes for you to choose your new favorite. Check out our Newcomers and fall in love
    with your new bike.
  </p>

  <%= render 'simple_pages/carousel' %><br><br>

</section>
