<section class="container back">
  <header>
    <h1> Thank you</h1>
  </header>
  <div class="panel panel-default">
    <div class="panel-body">
      <p>We have received your message and will respond to you as soon
        as possible. <br><br>Have a nice day.<br><br>
        Your BikeBerlin Team
      </p>
      <%= link_to 'Back to Products', products_path %><br><br>
    </div><!-- / panel-body -->
  </div><!-- / panel -->
</section>
