<table>
  <tbody style="font-family: Arial, sans-serif; font-size: 18px; max-width: 800px;
    align: center; border-collapse: collapse;">
    <tr>
      <td style="background-color: #e3f2fd; padding: 10px; ">
        <b>BikeBerlin</b>
      </td>
    </tr>
    <tr>
      <td style="font-size: 20px; padding-left: 5px; padding-right: 5px;">
        <h2>Order placed!</h2>
      </td>
    </tr>
    <tr>
      <td style="padding-left: 5px; padding-right: 5px;">
        <p>Thank you for ordering a <strong><%= @appname %></strong> bike. When the payment is processed, you'll receive a separate Email. The product will be on its way soon then!</p></td>
    </tr>
    <tr>
      <td><p>Have a nice day!<br>
        <strong>Your <%= @appname %> Team!</strong></p></td>
    </tr>
    <tr>
      <td  style="background-color: #e3f2fd; padding: 10px; text-align: center; ">
        &copy; 2018 BikeBerlin
      </td>
    </tr>
  </tbody>
</table>
