<section class="container back">
  <header>
    <h1>Editing User</h1>
  </header>

  <%= render 'form', user: @user %>

  <%= link_to 'Show', @user %> |
  <%= link_to 'Back', users_path %>

</section>
