<section class="container back">
  <h1>Users</h1>
  <div class="row">
    <%= render @users %>
  </div> <!-- /row-->
  <br>
  <%= link_to new_user_path, class: "btn btn-light" do %>
    <i class="fas fa-plus"></i> New User
  <% end %>

</section>
