<section class="container back">
  <% @orders.each do |order| %>
    <div class="col-sm">
      <header>
        <h1>
          Your Order # <%= order.id %>:
          <%= link_to order.product.name, order %>
         </h1>
     </header>
       <p>
         <%= order.product.description %><br><br>
        <strong>$ <%= order.product.display_price %></strong>
      </p>
    </div><!-- /col -->
  <% end %>
</section>
