<section class="container back">
  <header>
    <h1> Thank you for your purchase!</h1>
  </header>
  <div class="panel panel-default">
    <div class="panel-body">
      <p>You'll get a confirmation E-mail soon. <br><br>Have a nice day.<br><br>
        Your BikeBerlin Team
      </p>
      <%= link_to 'Back to Products', products_path %><br><br>
    </div><!-- / panel-body -->
  </div><!-- / panel -->
</section>
