// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#product_frame {
  border: solid 1px #009E8D;
  border-radius: 5px;
  margin: 20px 30px 20px 45px;
}

#product_frame p {
  padding-top: 5px;
}

#productname {
  text-transform: uppercase;
  padding-top: 10px;
 }


.field {
  text-align: center;
  font-size: 18px;
 }

.create_input {
  border-radius: 5px;
  text-align: center;
  padding: 5px;
}

.descrip_input {
  text-align: left;
  border-radius: 5px;
  resize: none;
  padding: 5px;
}

.actions { text-align: center; }
