// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  display: flex;
  min-height: 100vh;
  margin: 0 auto;
  flex-direction: column;
  font-family: "Signika Negative", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  background-color: #F3F9FA;
}

header {
  margin-top: 65px;
}

h1, h2, h3, h4, h5 {
  color: #009E8D;
  text-align: center;
 }

p {
  padding: 10px;
  font-size: 18px;
  line-height: 1.6;
  text-align: justify;
}

//* Navbar *//
.navbar-collapse {
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  padding-left: 10px;
}

.nav-item {
  font-family: "Syncopate", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  padding-top: 12px;
  padding-left: 10px;
}

.navbar-light {
  background-color: #e3f2fd !important;
}

.search {
  padding-top: 8px;
}

.search_field {
  padding: 5px;
  border-radius: 5px;
  border: solid 1px #d5d5d5;
}

//* Buttons *//
/* Navbar-Button btn-xs btn-primary */
.btn-xs {
  padding: 4px;
  font-size: 12px;
  border-radius: 5px;
}

.btn-primary {
  background-color: #009E8D;
  border-color: #009E8D;
}

/* New Product/ Update Product */
.btn-light {
  background-color: #e3f2fd;
  border-color: #e3f2fd;
}

//* Links *//
a {
  color: #009E8D;
  text-decoration: none;
  font-size: 18px;
}
a:hover {
  color: #009E8D;
  text-decoration: none;
  background-color: transparent;
}

.img-responsive { padding-bottom: 10px; }

//* container style and background *//
.container {
  min-height: 100px;
  flex: 1;
  margin-top: 65px;
  margin-bottom: 20px;
}

.back {
  background-color: white;
  box-shadow: 5px 5px 5px 0;
  padding-bottom: 20px;
}

//* Carousel  Newcomers *//
.carousel-caption {
  position: absolute;
  height: 12%;
  font-size: 18px;
  text-transform: uppercase;
}

.carousel-indicators {
  height: 5%;
}

.carousel-indicators li {
  position: relative;
  border-radius: 100%;
  width: 10px;
  height: 10px;
  margin-right: 10px;
}

/////* contact form *////
.create_input {
  border-radius: 5px;
  border: solid 1px #d5d5d5;
  text-align: left;
  padding: 5px;
}

.descrip_input {
  text-align: left;
  border-radius: 5px;
  resize: none;
  padding: 5px;
}

.actions { text-align: center; }



//* Footer *//
.site-footer {
  background-color: #e3f2fd;
}

#footer {  text-align: center;
}
