// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}

header {
  margin-top: 65px;
}

h1, h2 {
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  color: #009E8D;
  text-align: center;
 }

p {
  padding-left: 20px;
}

.navbar-collapse {
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  padding-left: 10px;
}

.nav-link {
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  padding-left: 10px;
  float: right;
  color: #009E8D;
  text-decoration: none;
}

.navbar-light {
  background-color: #e3f2fd !important;
}

.site-footer {
  background-color: #e3f2fd;
  text-align: center;
}

.container { padding-top: 60px; }
