// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  display: flex;
  min-height: 100vh;
  margin: 0 auto;
  flex-direction: column;
  font-family: "Signika Negative", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}

header {
  margin-top: 65px;
}

h1, h2 {
  font-family: "Signika Negative", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  color: #009E8D;
  text-align: center;
 }

p {
  padding-left: 20px;
}

.navbar-collapse {
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  padding-left: 10px;
}

.nav-item {
  font-family: "Syncopate", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  padding-left: 10px;
}

a {
  color: #009E8D;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  background-color: #009E8D;
}

.navbar-light {
  background-color: #e3f2fd !important;
}

.img-responsive { padding-bottom: 10px; }

.contact {
  background-image: url("bikecon.jpg"); /* background image*/
  background-size: cover; /*entire div section*/
  height: 100%;
}

#contactdetails {
  padding-bottom: 180px;
}

.site-footer {
  background-color: #e3f2fd;
  text-align: center;
}

.container {
  min-height: 100px;
  flex: 1;
  padding-top: 60px; }
