  <% @comments.each do |comment| %>
    <%= render comment %>
  <% end %>
  <div class="pagination">
    <%= will_paginate @comments, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, :params => { controller: :products, action: "show" } %><br><br>
  </div>
