<% if signed_in? %>
  <h4>Add a review for this product:</h4>
  <%= form_for([@product, @product.comments.build], remote: true) do |f| %>
    <p class="field form-group">
      <%= f.label :body, "Comments:" %>
      <%= f.text_area(:body, cols: 25, rows: 5, class: 'descrip_input', placeholder: "Let other people know what you think about it.") %>
    </p>
    <div class="field rating"></div>
    <p class="actions">
      <%= f.submit "Submit", class: "btn btn-light" %>
    </p>
  <% end %>
<% end %>
