<p id="notice"><%= notice %></p>

<header class="container">
  <h1>Products</h1>
</header>

<div class="container">
  <div class="row">
    <% @products.each do |product| %>
      <%= render product %>
    <% end %>
  </div> <!-- /row-->
  <br><br>
  <div class="btn btn-light">
    <%= link_to 'New Product', new_product_path %>
  </div>
</div><!-- /container-->

  <br>
