<p id="notice"><%= notice %></p>
<section class="container back">
<header>
  <h1>Products </h1>
</header>

<div>
  <div class="row">
    <% @products.each do |product| %>
      <%= render product %>
    <% end %>
  </div> <!-- /row-->
  <br><br>
    <%= link_to new_product_path, class: "btn btn-light" do %>
      <i class="glyphicon glyphicon-plus"></i> New Product
    <% end %>

</div><!-- /container-->

  <br>

</section>
